<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="about_paragraph">This is created by Mahadi Hassan. <br>
            It used weather stachk and map box<br>
            api to generate results. This is my<br>
            first back-end App which is deployed<br>
            for experimantal perpose also. back-end<br>
            is quite fun to learn</p>
            <img class="potrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
    </body>
</html>